body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #3c1083;
    /* Fondo púrpura por defecto */
    color: #000;
    /* Texto oscuro */
    opacity: 0;
    transition: background-color 0.3s, color 0.3s, opacity 0.3s;
}

header {
    background-color: #217346; /* Verde Excel */
    color: white;
    padding: 20px;
    text-align: center;
}

table {
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #ffffff; /* Fondo blanco */
    color: #000000; /* Texto negro */
    border: 1px solid #217346; /* Borde verde Excel */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease;
}

table th,
table td {
    padding: 10px;
    text-align: center;
    transition: background-color 0.5s ease, color 0.5s ease;
    font-size: 1rem;
    border: 1px solid #217346; /* Borde verde Excel */
}

table th {
    font-size: 1.1rem;
    /* Tamaño de fuente más grande para encabezados */
    background-color: #d9ead3; /* Verde claro para encabezados */
    color: #000000; /* Texto negro */
}

.form-container {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.8), rgba(217, 234, 211, 0.8), rgba(255, 255, 255, 0.8));
}

.form-container label {
    color: #217346; /* Color del texto de los labels en el tema Excel */
}


/* Botones con animación de tamaño */
button {
    font-size: 1rem;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: transform 0.2s ease, background-color 0.3s ease;
    background-color: #28a745;
    color: white;
}

button:hover {
    background-color: #218838;
}